#name {
  text-transform: capitalize;
}

.container {
  width: 100%;
  min-width: 10px;
  max-width: 500px;
  margin: auto;
  padding: 1em;
  overflow-wrap: break-word;
}

.input {
  width: 300px;
  border: 2px solid #12212E;
  border-radius: 10px;
  padding: .3em .5em;
  font-size: 1.2em;
} 